.noCartContainer{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: crimson;
    text-align: center;
}
.cartContainer{
    width: auto;
    height: auto;
    min-height: 90vh;
    background-color: black;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cartItemContainer{
    width: 75vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: solid 1px white;
    background-color: rgb(117,117,117);
    border-radius: 10px;
    margin-bottom: 15px;

}
.cartImage{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
.cartButton{
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
}
.cartName{
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    bottom: 0;
}
.cartButtonEliminarTodos{
    height: 50px;
    width: max-content;
}
.cartTotalPrice{
    color: white;
}

.cartFinalContainer{
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}
.tituloCarrito{
    color:  white;
    font-family: 'Courier New', Courier, monospace;
}