.App {
  text-align: center;
}
.contenedor-icono{
  width: 15vw;
  height: 70px;
  display: flex;
  
}
.logo{
  padding: 0px 5px;
  width: 60px;
  height: 50px;
}

.navbar{
  background-color: rgb(117, 117, 117);
  justify-content: flex-start;
}
.brand-name{
  display: flex;
  justify-content: center;
}
.nombre-1{
  font-family: 'Kanit', sans-serif;
  height: auto;
  font-size: 1em;
  color: black;
}
.nombre-2{
  font-family: 'Kanit', sans-serif;
  color: rgb(139, 0, 0);
}
.secciones{
  width: 70vw;
}
.link{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
.link:hover{
  color: rgb(139, 0, 0);
}
.div-saludo{
  width: 80vw;
  height: 40vh;
  margin: 10vw;
}
.div-saludo h3{
  color: black;
  height: auto;  
}